:root {
    --color-left: rgb(8, 8, 97);
    // --text-color: 
    --color-right: white;
}

body {
    box-sizing: border-box;
    margin:0;
    padding:0;
    overflow: hidden;
}
// 'overflow:hidden' prevents unnecessary scrollbar from appearing.

.content,
.logo {
    display: flex;
    flex-flow: row wrap;
}


img {
    width:40vw;
    height:100vh;
}

.title {
    position:absolute;
    top:0;
    margin-left:30px;
}


.h1 {
    
}
